{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Sign In" %}
{% endblock head_title %}
{% block inner %}
  <div class="text-center mt-4">
    <h1>{% translate "Sign In" %}</h1>
    <p class="lead">Sign in to your account to continue.</p>
  </div>
  <div class="card">
    <div class="card-body pb-0">
      <div class="m-sm-4">
        {% if ACCOUNT_ALLOW_REGISTRATION %}
          <p>
            {% blocktranslate trimmed %}
              If you have not yet created an account please
              <a href="{{ signup_url }}">sign up</a> first.
            {% endblocktranslate %}
          </p>
        {% endif %}
        <form novalidate
              class="login"
              method="post"
              action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="small button secondaryAction"
             href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
          <div class="text-center mt-3">
            <button class="primaryAction btn btn-lg btn-primary" type="submit">{% translate "Sign In" %}</button>
            <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock inner %}
